/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #e53948;
  background-image: url(Images/Banner\ template\ design\ abstract\ black\ and\ white\ geometric\ squares\ overlapping\ layer\ on\ clean\ background.jpeg);
  background-size: 50%;
  scroll-behavior: smooth;
}

header {
  justify-content: space-between;
  align-items: center;
  color: #ff4a57;
  padding: 28px;
}

nav ul {
  display: flex;
  /* color: #ff4a57; */
  justify-content: space-evenly;
  background-color: #222;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 25px;
  width: 50vw;
  list-style: none;
  margin: auto;
}
nav ul:hover {
  transform: scale(1.01);
}

nav ul li a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 1.3em;
  color: beige;
  padding: 5px 1.2em;
}
nav ul li a:hover {
  color: #ff4a57;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero p {
  color: #bbbbbb;
  margin-bottom: 20px;
}

.cta {
  background-color: #222;
  border: none;
  color: #ff4a57;
  padding: 10px 20px;
  border-radius: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

.cta:hover {
  background-color: #222;
}
.skill-set h2 {
  color: #e53948;
}
.skill-set {
  text-align: center;
  padding: 1em;
  color: white;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.service-card {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.service-card:hover {
  transform: scale(1.05);
}

.contact h2 {
  padding: 25px;
}
.contact {
  text-align: center;
  padding: 50px 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

input,
textarea {
  padding: 10px;
  border: 1.5px solid #222;
  border-radius: 1em;
  outline: none;
}

button {
  background-color: #ff4a57;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 1em;
}

button:hover {
  background-color: #e53948;
}
